.playerWrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 85vh;               /* default for large screens */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #000;
  position: relative;
}

.playerIframe {
  width: 100%;
  height: 100%;
}

/* Small laptops / tablets */
@media (max-width: 1200px) {
  .playerWrapper {
    height: 75vh;
  }
}

/* Medium tablets / large phones */
@media (max-width: 992px) {
  .playerWrapper {
    height: 65vh;
  }
}

/* Small phones */
@media (max-width: 768px) {
  .playerWrapper {
    height: 55vh;
  }
}

/* Extra small phones */
@media (max-width: 480px) {
  .playerWrapper {
    height: 45vh;
  }
}


.interactionOverlay {
  position: fixed; /* <-- covers entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.822);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 9999; /* on top of everything */
}

.interactionOverlay p {
  color: #fff;
  max-width: 80%;
  margin: 0 auto;
}