/* Footer.module.css */
.footer {
  margin-top: 128px;
  width: 90%;
  max-width: 700px;
  text-align: center;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.aboutText {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.11);
  margin-bottom: 64px;
  line-height: 1.4;
}

.feedbackLink {
  font-size: 0.85rem;
  color: rgba(78, 78, 78, 0.7);
  text-decoration: underline;
  transition: color 0.2s;
}

.feedbackLink:hover {
  color: rgba(112, 112, 112, 0.9);
}

.credit {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.2);
  margin-top: 32px;
}
