.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.playerWrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 85vh;               /* default for large screens */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Smaller screens */
@media (max-width: 1200px) {
  .playerWrapper {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .playerWrapper {
    height: 55vh;
  }
}

@media (max-width: 660px) {
  .pageContainer {
    padding: 0px;
  }

  .playerWrapper {
    border-radius: 0px;
  }
}

@media (max-width: 480px) {
  .playerWrapper {
    height: 40vh;
  }
}

.ranOutOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1rem;
}
